div.dropdownmenu {
    width: auto;
    height: auto;
    color: aquamarine;
    border: 5px solid;
    position: relative;
}

.options {
    display: none;
    position: absolute
}

.dropdownmenu.hover:options {
    display: block
}